//- Utility Classes
// Utility classes are where you can keep "functional" classes, a ton of tiny, single purpose classes that are named based on their visual function.

.padding-bottom {
    padding-bottom: 3rem;
}

.padding-top,
.footer.padding-top {
  padding-top: 3rem;
}

.text-center {
    text-align: center;
  }


.txt-white {
  color: white;
}

a.txt-white:hover {
  background-color: $dark-gray;
  color: white;
}