//- COLOR VARIABLES

// general color palette
$red: #EC1F27;
$gray: #999;
$dark-brown: #231F20;
$off-white: #edeeef;


$black9: rgba(0, 0, 0, 0.9);





//- Theme colors
$base-color: $red;