@charset "UTF-8";
/*********************
1. WEB FONTS
*********************/

@font-face {
  font-family: "ManifoldDSA-ExtraBold";
  font-display: fallback;
  src: url("../../webfonts/ManifoldDSA-ExtraBold.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../../webfonts/ManifoldDSA-ExtraBold.woff") format("woff"),
    /* Pretty Modern Browsers */
    url("../../webfonts/ManifoldDSA-ExtraBold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "ManifoldDSA-Medium";
  font-display: fallback;
  src: url("../../webfonts/ManifoldDSA-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../../webfonts/ManifoldDSA-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */
    url("../../webfonts/ManifoldDSA-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}