/*********************
4. H1, H2, H3, H4, H5 P STYLES MASTERCOPY
*********************/

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin: 0.67em 0;
}

h2 {
  font-size: 2rem;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.75rem;
  margin: 1em 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1.33em 0;
}

h5 {
  font-size: 1.25rem;
  margin: 1.67em 0;
}

h6 {
  font-size: 1rem;
  margin: 2.33em 0;
}