//- Link Styles
a:link,
a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: $base-color;
}

a:focus,
a:hover {
  color: $base-color;
  background-color: rgba(236, 31, 39, 0.1);
}