/*********************
21. DAVID P. 2019 based on EVA G. / JON W.
*********************/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.page-template-template-homepage-2019 a.button.hollow {
  color: #ec1f27;
  border: 2px solid #ec1f27;
  border-radius: 0.5rem;
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-template-template-homepage-2019 a.button,
.page-template-template-homepage-2019 .button,
.page-template-template-homepage-2019 .pagination .button,
.page-template-template-homepage-2019 button,
.page-template-template-homepage-2019 input[type=button],
.page-template-template-homepage-2019 input[type="submit"] {
  color: #fff;
  background-color: #ec1f27;
  border-radius: 0.5rem;
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-template-template-homepage-2019 .dsa-top-name b {
  color: #0a0a0a;
}

.page-template-template-homepage-2019 .menu li a {
  font-size: 1.2rem;
  line-height: 1;
  padding: 1rem 0.5rem;
  color: #ec1f27;
}

.page-template-template-homepage-2019 .menu li a:hover {
  color: #ec1f27;
  background-color: #ffeaeb;
}

.page-template-template-homepage-2019 .off-canvas,
.page-template-template-homepage-2019 .top-bar {
  background: #fefefe;
}

.page-template-template-homepage-2019 .top-bar ul {
  background: transparent;
}

.page-template-template-homepage-2019 {
  background: #F3F3F9;
}

.page-template-template-homepage-2019 .row {
  width: 100%;
  max-width: 1917px;
}

.page-template-template-homepage-2019 h1 {
  font-size: 2rem;
}

.section-icon {
  height: 3.75rem;
  margin-right: 1rem;
  width: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.page-template-template-homepage-2019 .row.windowbottom h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 0.25rem 0;
  padding: 0;
}

.page-template-template-homepage-2019 .row.windowbottom .sdsa-calendar-item,
.page-template-template-homepage-2019 .row.windowbottom .sdsa-dispatches-item {
  padding: 1rem;
  margin: 0 0 1rem;
  background: #fefefe;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.page-template-template-homepage-2019 .sdsa-main .hentry,
.page-template-template-homepage-2019 .sdsa-newsletter {
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
}

.page-template-template-homepage-2019 .sdsa-main {
  background: transparent;
}

.page-template-template-homepage-2019 body,
.page-template-template-homepage-2019 header,
.page-template-template-homepage-2019 p,
.page-template-template-homepage-2019 h2,
.page-template-template-homepage-2019 h1 {
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

.page-template-template-homepage-2019 b {
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
}

.page-template-template-homepage-2019 h2 {
  font-size: 3rem;
  padding-top: 1rem;
}

@media screen and (min-width: 1100px) {
  .page-template-template-homepage-2019 .sdsa-newsletter .pairing {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
  }

  .page-template-template-homepage-2019 .sdsa-newsletter figure {
    width: 6rem;
    margin: 1rem;
    text-align: center;
    align-self: center;
    display: inline-block;
  }

  .page-template-template-homepage-2019 .sdsa-newsletter .form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.page-template-template-homepage-2019 .sdsa-newsletter .pairing {
  width: 100%;
  margin: 0 1rem 0 0;
  padding: 0;
  text-align: center;
  display: block;
}

.page-template-template-homepage-2019 .mc-field-group.row {
  width: 100%;
  margin: 0;
}

.page-template-template-homepage-2019 .sdsa-newsletter figure {
  max-width: 6rem;
  margin: 0 1rem 0 0;
}

.page-template-template-homepage-2019 .sdsa-newsletter .fields {
  max-width: 100%;
  margin: 0 auto;
}

.page-template-template-homepage-2019 .sdsa-newsletter h1 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-template-template-homepage-2019 .sdsa-newsletter input[type="text"],
.page-template-template-homepage-2019 .sdsa-newsletter input[type="email"] {
  border: none;
  color: black;
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-block;
  text-align: center;
  width: 45%;
  background: white;
  padding: 11px 10px 11px;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05)
}

.page-template-template-homepage-2019 input#mce-FNAME::placeholder,
input#mce-LNAME::placeholder,
input#mce-EMAIL::placeholder {
  color: #aaa;
}

.page-template-template-homepage-2019 .sdsa-newsletter input[type="email"] {
  width: 100%;
}

.page-template-template-homepage-2019 .sdsa-newsletter input::-webkit-input-placeholder,
.page-template-template-homepage-2019 .sdsa-newsletter input::-ms-input-placeholder,
.page-template-template-homepage-2019 .sdsa-newsletter input::placeholder {
  color: #aaa;
}

.page-template-template-homepage-2019 .sdsa-beliefs {
  background-color: #EC1F27;
  color: white;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  border: 0px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}

.page-template-template-homepage-2019 .sdsa-beliefs .inner {
  padding: 0px;
}

.page-template-template-homepage-2019 .sdsa-beliefs .contents {
  margin: 0 20px;
}

.page-template-template-homepage-2019 .sdsa-beliefs h1 {
  text-transform: uppercase;
  font-size: 1.0625rem;
  font-weight: 700;
  margin-bottom: 35px;
}

.page-template-template-homepage-2019 .sdsa-beliefs .beliefs-carousel {
  position: relative
}

.page-template-template-homepage-2019 .sdsa-beliefs .action {
  padding-top: 40px
}

.page-template-template-homepage-2019 .sdsa-beliefs .action a {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 12px 30px 12px;
  background: #EC1F27;
  font-family: 'Work Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 30px;
  font-weight: 700;
  font-size: 1.0625rem;
  border: none;
  cursor: pointer;
  transition: all 150ms
}

.page-template-template-homepage-2019 .sdsa-beliefs .action a.small {
  padding: 8px 13px 8px
}

.page-template-template-homepage-2019 .sdsa-beliefs .action a:hover {
  background: #f04e54;
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}

.page-template-template-homepage-2019 .sdsa-beliefs .beliefs {
  position: relative;
  z-index: 1;
  min-height: 50px
}

@media screen and (min-width: 900px) {
  .page-template-template-homepage-2019 .row.sdsa-background {
    background: url("../../images/ui-glyphs/frontispiece-scenery-wave.svg"), url("../../images/ui-glyphs/frontispiece-scenery-elevation-trees.svg"), url("../../images/ui-glyphs/frontispiece-scenery-elevation-needle.svg"), url("../../images/ui-glyphs/frontispiece-scenery-elevation-rainier.svg"), url("../../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.svg"), url("../../images/ui-glyphs/frontispiece-scenery-elevation-cloud2.svg"), url("../../images/ui-glyphs/frontispiece-scenery-sky.png");
    background-size: 15rem, 30rem, 10rem, 45rem, 25rem, 25rem, 1rem;
    -webkit-background-size: 15rem, 30rem, 10rem, 45rem, 25rem, 25rem, 1rem;
    background-attachment: initial;
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-position: left bottom, -15rem bottom, 25% bottom, bottom, center, right top, top;
  }
}

@media screen and (max-width: 899px) {
  .page-template-template-homepage-2019 .row.sdsa-background {
    background: url("../images/ui-foregrounds/mobile-mural.png") no-repeat left top;
    background-size: 100% auto;
  }
}

.sdsa-peek {
  height: 15rem;
}

.page-template-template-homepage-2019 .sdsa-beliefs .beliefs li {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  font-size: 1.3125rem;
  line-height: 1.1;
  box-sizing: border-box;
  padding: 0 40px;
  opacity: 0;
  transition: all 400ms;
  font-weight: 500;
  list-style: none;
}

.page-template-template-homepage-2019 .sdsa-beliefs .beliefs li.active {
  opacity: 1
}

@media screen and (max-width: 370px) {
  .page-template-template-homepage-2019 .sdsa-beliefs .beliefs li {
    font-size: 1.125rem
  }
}

.page-template-template-homepage-2019 .sdsa-beliefs .control {
  position: absolute;
  background: url("../../images/ui-glyphs/caret-leftward.svg") no-repeat center center;
  background-size: 10px 18px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: 50%;
  border: none;
  cursor: pointer;
  transition: all 200ms;
  transform: translateY(-50%) scale(1);
  z-index: 2
}

.page-template-template-homepage-2019 .sdsa-beliefs .control.prev {
  left: -10px
}

.page-template-template-homepage-2019 .sdsa-beliefs .control.next {
  right: -10px;
  background-image: url("../../images/ui-glyphs/caret-rightward.svg")
}

.page-template-template-homepage-2019 .sdsa-beliefs .control:hover {
  transform: translateY(-50%) scale(1.2)
}

.page-template-template-homepage-2019 .sdsa-calendar-item-details,
.page-template-template-homepage-2019 .sdsa-calendar-item-directions {
  margin-bottom: 0;
}

.page-template-template-homepage-2019 .sdsa-calendar-item-directions {
  width: 3.5rem;
  height: auto;
  display: inline-block;
  float: right;
  margin: 0 0 0 1rem;
}

.page-template-template-homepage-2019 .sdsa-dispatches-thumbnail {
  padding-left: 0;
}

.page-template-template-homepage-2019 .sdsa-dispatches-thumbnail img {
  border-radius: 1rem;
}

.page-template-template-homepage-2019 .sdsa-dispatches-headline {
  margin-top: 1.5rem;
}