/*********************
21b. EVA G. 2017 Theme w/ CODING FROM JON W.
*********************/

.dsa-space {
  min-height: 18vh;
}

.dsa-space-2 {
  min-height: 25vh;
}

.dsa-alert.card.card {
  background-color: #0a0a0a;
  color: #fff;
}

//new
.dsa-alert.callout {
  background-color: #0a0a0a;
  color: white;
}

.dsa-alert.callout p {
  margin-bottom: 0;
  display: inline;
}

input::placeholder,
textarea::placeholder,
input#mce-FNAME::placeholder,
input#mce-LNAME::placeholder,
input#mce-EMAIL::placeholder {
  color: #aaa;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input#mce-FNAME::-webkit-input-placeholder,
input#mce-LNAME::-webkit-input-placeholder,
input#mce-EMAIL::-webkit-input-placeholder {
  color: #aaa;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input#mce-FNAME::-moz-placeholder,
input#mce-LNAME::-moz-placeholder,
input#mce-EMAIL::-moz-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input#mce-FNAME:-ms-input-placeholder,
input#mce-LNAME:-ms-input-placeholder,
input#mce-EMAIL:-ms-input-placeholder {
  color: #aaa;
}

button.dsa-close {
  background-color: transparent;
  color: white;
  font-family: 'Manifold DSA', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.25rem;
  margin-left: 1rem;
  padding: 0;
  //new
}

.dsa-alert-icon {
  margin-right: 1rem;
  width: 2.5rem;
  height: auto;
}

.button-group .button {
  margin-right: 1em;
}

.dsa-national-logomark {
  float: left;
  margin: 0 1rem 0 0;
}

h1.dsa-national-logotype {
  font-family: 'Manifold DSA', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-bottom: 0.25rem solid white;
  display: inline-block;
  font-size: 4rem;
  padding-bottom: 1.25rem;
  line-height: 0.75;
}

h2.dsa-local-brand {
  font-family: 'Manifold DSA', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
}

// this is old apparently for some reason
// .card-gray,
// #content #inner-content.card-gray {
//   background-color: #FFF;
//   padding: 2rem 4rem;
// }

// .card-red {
//   background-color: $base-color;
//   padding: 2rem 4rem;
// }

/** begin jon white conversion **/
#dsa-home-row-1 {
  padding: 50px 0 0;
}

.sdsa-2017-global-footer section:nth-of-type(1),
.sdsa-2017-global-footer section:nth-of-type(2) {
  margin-right: 5%
}

#content #dsa-home-row-1 {
  padding-bottom: 50px
}

#content #dsa-home-row-1 {
  min-height: 705px;
  position: relative
}

.row.dsa-home-row-3-edit {
  padding: 50px 0;
}

.row.dsa-home-row-4-edit {
  padding: 50px 0;
}

h1.home-title {
  font-size: 2rem;
  font-family: 'Manifold DSA', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* from jonwhite */
.bound {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto
}

@media screen and (min-width: 1141px) and (max-width: 1330px) {
  .sdsa-2017-global-header .branding .logo {
    max-width: 400px
  }
}

.sdsa-2017-global-header .branding a {
  background: url("/images/ui-glyphs/sdsa-logo.png") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap
}

.sdsa-2017-global-header .atlas li {
  display: inline-block;
  float: left;
  color: white;
  font-weight: 900
}

.sdsa-2017-global-header .atlas a {
  padding: 4px 19px 3px;
  background: transparent;
  border-radius: 20px;
  transition: all 200ms;
  box-shadow: none;
  position: relative;
  z-index: 2
}

@media screen and (min-width: 1141px) and (max-width: 1330px) {
  .sdsa-2017-global-header .atlas a {
    padding: 4px 13px 3px
  }
}

.sdsa-2017-global-header .atlas a:not(.selected):hover {
  background: #b91016;
  box-shadow: 0 0 0 3px #b91016;
  transform: translateY(-2px)
}

.sdsa-2017-global-header .atlas a.selected {
  background: black;
  z-index: 1
}

.sdsa-2017-global-header .atlas li:last-of-type a {
  background: #f04e54;
  z-index: 1
}

@media screen and (min-width: 1141px) {

  .sdsa-2017-global-header .branding,
  .sdsa-2017-global-header .atlas {
    position: absolute;
    top: 50%
  }

  .sdsa-2017-global-header .branding {
    left: 0;
    width: 100%;
    transform: translateY(-50%)
  }

  .sdsa-2017-global-header .atlas {
    right: -19px;
    transform: translateY(-15%)
  }
}

@media screen and (max-width: 1140px) {
  .sdsa-2017-global-header .inner {
    padding: 30px 0 30px
  }

  .sdsa-2017-global-header .branding .logo {
    margin: 0 auto 25px
  }

  .sdsa-2017-global-header .atlas {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px
  }

  .sdsa-2017-global-header .atlas li {
    float: none;
    display: inline-block;
    margin-bottom: 12px
  }

  .sdsa-2017-global-header .atlas a {
    font-size: 0.875rem;
    padding: 4px 12px 3px
  }
}

.sdsa-2017-global-footer {
  padding: 50px 0;
  background: $base-color;
  color: white
}

.sdsa-2017-global-footer .triptych {
  outline: 1px solid orange
}

.sdsa-2017-global-footer section {
  width: 30%;
  float: left;
  outline: 2px solid aqua
}

.sdsa-2017-global-footer section:nth-of-type(1),
.sdsa-2017-global-footer section:nth-of-type(2) {
  margin-right: 5%
}

.padding-bottom {
  padding-bottom: 3rem;
}

.padding-top,
.footer.padding-top {
  padding-top: 3rem;
}





//new
.text-center {
  text-align: center;
}





@media screen and (min-width: 65em) {
  #dsa-home-row-1 .dsa-home-row-2-edit .dsa-slides {
    background: url(../../images/card-top-blue.png) repeat-x left top;
    background-size: 18px 109px, 18px 16px;
    background-color: $base-color;
    color: white;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }
}

@media screen and (max-width: 40em) {
  .dsa-main-content {
    border-bottom: 12px solid transparent;
    padding: 12px;
    border-image: url(../../images/stripes-black.png) 12 repeat; //new
  }

  #dsa-home-row-1 .dsa-home-row-2-edit .dsa-slides {
    background: $base-color none;
  }

  .card-gray {
    margin-bottom: 2rem;
  }
}

#dsa-home-row-1 .dsa-home-row-1-edit {
  padding: 132px 0 0 0
}

@media screen and (max-width: 899px) {
  #dsa-home-row-1 #inner-content {
    padding: 55% 0 0 0
  }
}

#dsa-home-row-1 .dsa-slides .orbit {
  padding: 175px 0 48px;
}

#dsa-home-row-1 .row {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

#dsa-home-row-1 .dsa-home-row-edit-2 {
  display: -ms-flexbox;
  display: flex !important;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

div#dsa-home-row-3 {
  background-color: $base-color;
}

div#dsa-home-row-4 {
  background-color: #292d2f;
}

#dsa-home-row-3 h2,
#dsa-home-row-4 h2 {
  font-family: 'Manifold DSA', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
  text-transform: uppercase;
  font-size: 0.5em;
  display: block;
  margin: 0.5em 0 1em 0;
}

.eva-orbit button.orbit-next,
.eva-orbit button.orbit-previous {
  background-color: transparent;
  color: white;
}