/*********************
15. FOOTER STYLES
*********************/
.footer {
    clear: both;
    margin-top: 0em;
    padding-top: 1em;
    background-color: #ec1f27;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    background-color: #000;
    color: #fff;
}

.footer h4 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0.25em 1em;
    font-weight: 400;
    font-family: 'ManifoldDSA-Medium', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

#dsa-footer .sidebar .widget {
    text-align: center;
}

#dsa-footer .sidebar .widget div {
    text-align: left;
}