//- HERO IMAGE

figure.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    //position: absolute;
    z-index: -1;
    margin: 0;
    width: 100vw;
    height: 50vh;

    img {
        min-width: 100vw;
        min-height: 40vh;
        object-fit: cover;
    }
}