/*********************
6. MENU & NAVIGATION MASTER COPY
*********************/

.top-bar {
  padding: 0;
  background-color: $base-color;

  .title-area {
    z-index: 1;
  }

  ul {
    background-color: $base-color;
  }

  a,
  ul a {
    color: white;
  }
}

.off-canvas-list ul {
  margin-left: 0;

  li a {
    border-bottom: 0px;
  }

  .dropdown {
    margin-left: 20px;
  }
}


.off-canvas {
  background-color: $base-color;
}



.top-bar-right a,
.off-canvas .menu>li>a {
  text-transform: capitalize;
  font-size: 1.25rem;
  color: white;
}

.dropdown.menu.vertical>li.opens-left>a:after,
.is-accordion-submenu-parent>a:after {
  border-color: $base-color transparent transparent !important;
}

.page-title {
  color: $dark-gray;
  margin: 4rem 0 3rem 0;
}

.bg-DSAblack {
  background-color: $dark-gray;
}

.txt-DSAred {
  color: $base-color;
}

.btn.bg-DSAred {
  color: white;
}

.txt-DSAblack {
  color: $dark-gray;
}

.txt-DSAwhite,
.txt-white {
  color: white;
}

a.txt-DSAwhite:hover {
  background-color: $dark-gray;
  color: white;
}

.top-bar a:hover,
.menu .active a {
  background: $dark-gray;
}

.top-bar img.dsa-rose-mark {
  height: 2.5rem;
  width: auto;
  display: inline-block;
  padding: 0;
  margin: 0.25rem 0 0 0.25rem;
  line-height: 1;
  vertical-align: top;
}

.menu {
  >li>a.dsa-top-name {
    display: inline-block;
    padding: 1rem 0 1rem 0.35rem;
    font-size: 1.2rem;
    line-height: 1;
  }

  &.vertical>li {
    padding-top: 0;
  }

  >li.active>a {
    background: white;
    color: $base-color;

    &:hover {
      color: $base-color;
      background-color: white;
    }
  }
}

// this is new

.off-canvas .menu>li>a:hover,
.top-bar-right a:hover {
  color: $base-color;
  background-color: white;
}

.top-bar {

  a:hover,
  ul a:hover {
    color: $base-color;
    background-color: white;
  }
}

// this is new

#menu-footer.menu>li {
  width: 45%;
  display: inline-block;
}

.menu>li>a.dsa-top-name:hover {
  background-color: $base-color;
  color: white;
  // this is new
}

.menu {

  li {

    a {
      padding: 1rem;
      line-height: 1;
      font-size: 1.2rem;
    }

    img {
      margin: 20px;
    }
  }
}