/*********************
13. COMMENT FORM STYLES
*********************/
.respond-form {
    margin: 1.5em 10px;
    padding-bottom: 2.2em;
  }

  .respond-form form {
    margin: 0.75em 0;
  }

  .respond-form form li {
    list-style-type: none;
    clear: both;
    margin-bottom: 0.7335em;
  }

  .respond-form form li label,
  .respond-form form li small {
    display: none;
  }

  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url],
  .respond-form form textarea {
    padding: 3px 6px;
    background: #efefef;
    border: 2px solid #cecece;
    line-height: 1.5em;
  }

  .respond-form form input[type=text]:focus,
  .respond-form form input[type=email]:focus,
  .respond-form form input[type=url]:focus,
  .respond-form form textarea:focus {
    background: #fff;
  }

  .respond-form form input[type=text]:invalid,
  .respond-form form input[type=email]:invalid,
  .respond-form form input[type=url]:invalid,
  .respond-form form textarea:invalid {
    outline: none;
    border-color: #fbc2c4;
    background-color: #f6e7eb;
    -ms-box-shadow: none;
    box-shadow: none;
  }

  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url] {
    max-width: 400px;
    min-width: 250px;
  }

  .respond-form form textarea {
    resize: none;
    width: 97.3%;
    height: 150px;
  }

  #comment-form-title {
    margin: 0 0 1.1em;
  }

  #allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
  }

  .nocomments {
    margin: 0 20px 1.1em;
  }
