//- SECTIONS
// sections are full width wide areas which give information that can then be followed up more fully on another page.

.info-section {
    padding: 50px 0;

    h2 {
        font-family: 'Manifold DSA', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
    }



    //- ğ—¡ğ—˜ğ—ªğ—¦ ğ—¦ğ—˜ğ—–ğ—§ğ—œğ—¢ğ—¡
    &.news-section {
        background-color: #292d2f;

    }

    //- Events Section
    &#events-section {
        background-color: $base-color;
    }
}