/*********************
14. SIDEBARS & ASIDES
*********************/
.widget ul {
    margin: 0;
  }

  .widget ul li {
    list-style: none;
  }

  @media print,
  screen and (min-width: 40em) {
    .single #inner-content .sidebar {
      margin-top: 100vh;
    }
  }
