//- TABS
.tabs {
  background-color: $base-color;
  border-bottom: 0;
}

.tabs-title>a {
  color: white;
  font-size: 1rem;

  &:focus,
  &[aria-selected=true] {
    color: black;
    background: white;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    color: white;
    background: black;
  }
}

.tabs-panel {
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
}