.text-carousel-card {

    background: url("../../images/ui-glyphs/stripes-black.svg") repeat-x left bottom !important;
    background-size: 18px 16px !important;
    background-color: $base-color !important;
    color: white;
    order: 2;
    //margin-top: -1rem;
    // margin: 0 20px;
    border-right: 1px solid white;
    background-origin: border-box;
    // padding: 138px 0 65px;

    h1 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }




    div.text-carousel {
        position: relative;

        .control {
            position: absolute;
            background: url("../../images/ui-glyphs/caret-leftward.svg") no-repeat center center;
            background-size: 10px 18px;
            background-color: transparent;
            width: 40px;
            height: 40px;
            top: 50%;
            border: none;
            cursor: pointer;
            transition: all 200ms;
            transform: translateY(-50%) scale(1);
            z-index: 2;

            &:hover {
                transform: translateY(-50%) scale(1.2)
            }

            &.prev {
                left: -10px
            }

            &.next {
                right: -10px;
                background-image: url("../../images/ui-glyphs/caret-rightward.svg")
            }
        }

        ol.beliefs {
            position: relative;
            z-index: 1;
            min-height: 50px;

            li {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
                font-size: 1.3rem;
                line-height: 1.1;
                box-sizing: border-box;
                padding: 0 40px;
                opacity: 0;
                transition: all 400ms;
                font-weight: 400;
                list-style: none;

                &.active {
                    opacity: 1
                }
            }
        }
    }

    .action {
        padding-top: 2rem;

        a {
            cursor: pointer;
            transition: all 150ms;
            display: inline-block;
            text-transform: uppercase;
            color: white;
            padding: 12px 30px 12px;
            background: $base-color;
            font-family: $base-type, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            border-radius: 30px;
            font-weight: 700;
            font-size: 1.0625rem;
            border: none;
            cursor: pointer;
            transition: all 150ms;

            &:hover {
                background: #f04e54;
                transform: translateY(-2px);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
            }
        }
    }




}